<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>修改用户账号</title>
    <!-- jquery.min.js -->
    <script src="./libs/jquery/jquery.min.js"></script>
    <!-- 引入elementui.min.css -->
    <link rel="stylesheet" href="./libs/elementui/css/elementui.min.css">
    <!-- 引入自定义样式 -->
    <link rel="stylesheet" href="./styles/index.css">

    <!-- 引入vue.min.js -->
    <script src="./libs/vue/vue.min.js"></script>
    <!-- 引入elementui.min.js -->
    <script src="./libs/elementui/js/elementui.min.js"></script>
</head>

<body>
    <!-- 准备dom容器 -->
    <div id="app">
        <!-- 整个页面的容器 -->
        <el-container>
            <!-- 右侧内容容器 -->
            <el-container>
                <!-- 右侧头部 -->
                <el-header>
                    <h2>欢迎您 admin</h2>
                    <p>修改用户密码</p>
                </el-header>
                <!-- 右侧主体 -->
                <el-main>
                    <el-card class="box-card">
                        <div slot="header" class="clearfix">
                            <span>修改用户密码</span>
                        </div>
                        <div class="text item">
                            <!-- 添加账号的表单 -->
                            <el-form :model="changeForm" class="addUserForm" status-icon :rules="rules" ref="changeForm"
                            label-width="100px" class="demo-ruleForm">
                                <!-- 旧密码 -->
                                <el-form-item label="旧的密码" prop="password">
                                    <el-input type="text" v-model="changeForm.password" autocomplete="off"></el-input>
                                </el-form-item>
                                <!-- 密码 -->
                                <el-form-item label="新的密码" prop="newPassword">
                                    <el-input type="text" v-model="changeForm.newPassword" autocomplete="off"></el-input>
                                </el-form-item>
                                <!-- 确认密码 -->
                                <el-form-item label="确认新密码" prop="confirmPwd">
                                    <el-input v-model="changeForm.confirmPwd"></el-input>
                                </el-form-item>

                                <!-- 登录&重置 -->
                                <el-form-item>
                                    <el-button type="success" @click="saveFrom('changeForm')">保存</el-button>
                                    <el-button @click="resetForm('changeForm')">重置</el-button>
                                </el-form-item>
                            </el-form>
                        </div>
                    </el-card>
                </el-main>
                <!-- 右侧尾部 -->
                <el-footer>
                    &copy; Copyright 2018 华联超市管理系统
                </el-footer>
            </el-container>

        </el-container>
    </div>

    <script>
        // 创建实例
        new Vue({
            el: '#app',
            data() {
                // 检查原来密码
                let changePwd = (rule, value, callback) => {
                    $.get(`/users/checkpwd?password=${value}`, function (data) {
                        // 如果为空 请再次输入密码
                        if (data.errcode === 0) {
                           callback(new Error(data.msg))
                       } else {
                           callback();   // 成功的回调
                       } 
                    })
                }

                // 自己写一个检查密码的函数
                let checkPass = (rule, value, callback) => {
                    // 如果为空 请再次输入密码
                    if (value === '') {
                        callback(new Error("请再次输入密码！"))
                    } else if (value != this.changeForm.newPassword) {      // 如果不等于密码的值 提示 密码不一致
                        callback(new Error("两次输入密码不一致！"))
                    } else {
                        callback();   // 成功的回调
                    }
                }
                return {
                    // 表单需要的数据源
                    changeForm: {
                        password: '',  // 旧密码
                        newPassword: '',  // 新密码
                        confirmPwd: ''  // 确认新密码
                    },
                    // 验证规则
                    rules: {
                        // 验证旧密码
                        password: [
                            { required: true, validator: changePwd, trigger: 'blur' }
                        ],
                        // 验证新密码
                        newPassword: [
                            { required: true, message: '请输入新密码密码', trigger: 'blur' }, // 非空验证
                            { min: 6, max: 12, message: '密码长度在 6 到 12 个字符', trigger: 'blur' } // 长度验证
                        ],
                        // 验证再次输入密码
                        confirmPwd: [
                            { required: true, message: "请再次输入新密码", trigger: 'blur' }
                        ]
                    }
                };
            },
            
            methods: {
                // 提交表单
                saveFrom(formName) {
                    this.$refs[formName].validate((valid) => {
                        // 如果验证通过 valid就是true 否则 就是false
                        if (valid) {
                            // 发送ajax 把新密码给后端
                            $.post('/users/savepwd', {"newPassword": this.changeForm.newPassword}, function (data) {
                                if (data.errcode === 1) {
                                    // 弹出成功提示
                                    alert(data.msg);
                                    // 返回登录页面
                                    window.top.location.href = './login.html';
                                }
                            });
                        } else {
                            // 前端验证不通过 不允许提交
                            console.log('前端验证失败 不允许提交!');
                            return false;
                        }
                    });
                },
                // 重置表单
                resetForm(formName) {
                    this.$refs[formName].resetFields();
                }
            }
        })
    </script>

</body>

</html>