<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>添加商品</title>
    <!-- jquery.min.js -->
    <script src="./libs/jquery/jquery.min.js"></script>
    <!-- 引入elementui.min.css -->
    <link rel="stylesheet" href="./libs/elementui/css/elementui.min.css">
    <!-- 引入自定义样式 -->
    <link rel="stylesheet" href="./styles/index.css">

    <!-- 引入vue.min.js -->
    <script src="./libs/vue/vue.min.js"></script>
    <!-- 引入elementui.min.js -->
    <script src="./libs/elementui/js/elementui.min.js"></script>
    <!-- 检测是否登录 -->
    <script src="/users/checkIsLogin"></script>
</head>

<body>
    <!-- 准备dom容器 -->
    <div id="app">
        <!-- 整个页面的容器 -->
        <el-container>
            <!-- 右侧内容容器 -->
            <el-container>
                <!-- 右侧头部 -->
                <el-header>
                    <h2>欢迎您 admin</h2>
                    <p>添加新的商品</p>
                </el-header>
                <!-- 右侧主体 -->
                <el-main>
                    <el-card class="box-card">
                        <div slot="header" class="clearfix">
                            <span>添加商品</span>
                        </div>
                        <div class="text item">
                            <!-- 添加商品的表单 -->
                            <el-form :model="goodsForm" :rules="rules" ref="goodsForm" label-width="100px" class="demo-ruleForm">
                                <!-- 分类 -->
                                <el-form-item label="所属分类" prop="cateName">
                                    <el-select v-model="goodsForm.cateName" placeholder="---请选择分类---">
                                        <el-option label="酒水类" value="酒水类"></el-option>
                                        <el-option label="食品类" value="食品类"></el-option>
                                        <el-option label="日用品" value="日用品"></el-option>
                                        <el-option label="电子类" value="电子类"></el-option>
                                        <el-option label="服装类" value="服装类"></el-option>
                                    </el-select>
                                </el-form-item>

                                <!-- 商品条形码 -->
                                <el-form-item label="商品条形码" prop="barCode">
                                    <el-input type="text" v-model="goodsForm.barCode"></el-input>
                                </el-form-item>

                                <!-- 商品名称 -->
                                <el-form-item label="商品名称" prop="goodsName">
                                    <el-input v-model="goodsForm.goodsName"></el-input>
                                </el-form-item>

                                <!-- 商品进价 -->
                                <el-form-item label="商品进价" prop="costPrice">
                                    <el-input type="costPrice" @blur="autoPrice" v-model.number="goodsForm.costPrice" autocomplete="off"></el-input>
                                </el-form-item>

                                <!-- 商品售价 -->
                                <el-form-item label="商品售价" prop="salePrice">
                                    <el-input type="salePrice" v-model.number="goodsForm.salePrice" autocomplete="off"></el-input>
                                </el-form-item>

                                <!-- 市场价 -->
                                <el-form-item label="市场价" prop="marketPrice">
                                    <el-input type="marketPrice" v-model.number="goodsForm.marketPrice" autocomplete="off"></el-input>
                                </el-form-item>

                                <!-- 入库数量 -->
                                <el-form-item label="入库数量" prop="goodsNum">
                                    <el-input type="goodsNum" v-model.number="goodsForm.goodsNum" autocomplete="off"></el-input>
                                </el-form-item>

                                <!-- 商品重量 -->
                                <el-form-item label="商品重量" prop="goodsWeight">
                                    <el-input type="goodsWeight" v-model.number="goodsForm.goodsWeight" autocomplete="off"></el-input>
                                </el-form-item>

                                <!-- 商品单位 -->
                                <el-form-item label="商品单位" prop="unit">
                                    <el-select v-model="goodsForm.unit" placeholder="---请选择分类---">
                                        <el-option label="件" value="件"></el-option>
                                        <el-option label="包" value="包"></el-option>
                                        <el-option label="个" value="个"></el-option>
                                        <el-option label="箱" value="箱"></el-option>
                                        <el-option label="g" value="g"></el-option>
                                        <el-option label="kg" value="kg"></el-option>
                                    </el-select>
                                </el-form-item>

                                <!-- 会员优惠 -->
                                <el-form-item label="会员优惠" prop="discount">
                                    <el-radio-group v-model="goodsForm.discount">
                                        <el-radio label="享受"></el-radio>
                                        <el-radio label="不享受"></el-radio>
                                    </el-radio-group>
                                </el-form-item>

                                <!-- 会员优惠 -->
                                <el-form-item label="是否促销" prop="promotion">
                                    <el-radio-group v-model="goodsForm.promotion">
                                        <el-radio label="促销"></el-radio>
                                        <el-radio label="不促销"></el-radio>
                                    </el-radio-group>
                                </el-form-item>

                                <!-- 商品简介 -->
                                <el-form-item label="商品简介" prop="goodsDesc">
                                    <el-input type="textarea" v-model="goodsForm.goodsDesc"></el-input>
                                </el-form-item>

                                <!-- 按钮操作 -->
                                <el-form-item>
                                    <el-button type="success" @click="submitForm('goodsForm')">修改</el-button>
                                    <el-button @click="resetForm('goodsForm')">清空</el-button>
                                </el-form-item>
                            </el-form>
                        </div>
                    </el-card>
                </el-main>
                <!-- 右侧尾部 -->
                <el-footer>
                    &copy; Copyright 2018 华联超市管理系统
                </el-footer>
            </el-container>

        </el-container>
    </div>

    <script>
        // 创建实例
        new Vue({
            el: '#app',
            data() {
                return {
                    goodsForm: {
                        cateName: '',
                        barCode: '',
                        goodsName: '',
                        costPrice: '',
                        salePrice: '',
                        marketPrice: '',
                        goodsNum: '',
                        goodsWeight: '',
                        unit: '',
                        discount: '',
                        promotion: '',
                        goodsDesc: ''
                    },
                    // 验证规则
                    rules: {
                        /* 验证分类 */
                        cateName: [
                            { required: true, message: '请选择商品的分类', trigger: 'change' }
                        ],
                        /* 验证商品条形码 */
                        barCode: [
                            { required: true, message: '商品条形码必填', trigger: 'blur' }
                        ],
                        /* 验证商品名称 */
                        goodsName: [
                            { required: true, message: '商品名称必填', trigger: 'blur' }
                        ],
                        /* 验证商品售价 */
                        salePrice: [
                            { required: true, message: '商品售价必填' },
                            { type: 'number', message: '商品售价必须为数字值' }
                        ],
                        /* 验证市场价 */
                        marketPrice: [
                            { type: 'number', message: '市场价必须为数字值' }
                        ],
                        /* 验证商品进价 */
                        costPrice: [
                            { type: 'number', message: '商品进价必须为数字值' }
                        ],
                        /* 验证入库数量 */
                        goodsNum: [
                            { type: 'number', message: '入库数量必须为数字值' }
                        ],
                        /* 验证商品重量 */
                        goodsWeight: [
                            { type: 'number', message: '商品重量必须为数字值' }
                        ]
                    }
                };
            },
            methods: {
                // 自动填写售价和市场价
                autoPrice () {
                    this.goodsForm.salePrice = this.goodsForm.costPrice * 1.5;
                    this.goodsForm.marketPrice = this.goodsForm.costPrice * 2;
                },
                // 提交表单
                submitForm(formName) {
                    this.$refs[formName].validate((valid) => {
                        // 如果验证通过 valid就是true 否则 就是false
                        if (valid) {
                            // 定义参数对象
                            const params = {
                                "cateName": this.goodsForm.cateName,
                                "barCode": this.goodsForm.barCode,
                                "goodsName": this.goodsForm.goodsName,
                                "costPrice": this.goodsForm.costPrice,
                                "salePrice": this.goodsForm.salePrice,
                                "marketPrice": this.goodsForm.marketPrice,
                                "goodsNum": this.goodsForm.goodsNum,
                                "goodsWeight": this.goodsForm.goodsWeight,
                                "unit": this.goodsForm.unit,
                                "discount": this.goodsForm.discount,
                                "promotion": this.goodsForm.promotion,
                                "goodsDesc": this.goodsForm.goodsDesc
                            }

                            // 构造ajax 把数据发送个后端
                            $.post('/goods/goodsAdd', params, function (data) {
                                // 如果成功 弹出对应的提示信息
                                if (data.errcode === 1) {
                                    alert(data.msg);
                                    location.href = './goodsList.html';
                                } else {
                                    alert(data.msg)
                                }
                            })
                        } else {
                            // 前端验证不通过 不允许提交
                            console.log('前端验证失败 不允许提交!');
                            return false;
                        }
                    });
                },
                // 重置表单
                resetForm(formName) {
                    this.$refs[formName].resetFields();
                }
            }
        })
    </script>

</body>

</html>