html, body {
    padding: 0;
    margin: 0;
    height: 100%;
}
#app {
    background-image: url('../images/body_bg.png');
    height: 100%;
    position: relative;
}


.login-form {
    border-radius: 7px;
    width: 400px;
    height: 320px;
    position: absolute;
    background-color: #fff;

    /* 水平垂直居中 */
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}

.login-form .demo-ruleForm{
     padding-right: 30px;
}

.login-form .title {
   text-align: center;
}

.el-button--default:hover{
    background-color: #67c23a21;
    color: #67c23ae0;
    border: 1px solid #67c23a;
}
.el-button--default:focus{
    background-color: #67c23a21;
    color: #67c23ae0;
    border: 1px solid #67c23a;
}